/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* generics */

.container {
    max-width: 1200px;
    margin: auto;
}

/* header */

.hdr {
    height: 100px;
    margin: 30px auto;
    background-color: rgb(224, 119, 202);
}